---
services:
  vaultwarden:
    image: vaultwarden/server:1.34.3
    container_name: vaultwarden
    restart: always
    env_file: [.env]
    volumes:
      - type: bind
        source: ${HOMELAB_DATA_ROOT_DIR}/vaultwarden/data
        target: /data
        bind:
          create_host_path: true
    networks: [homelab, vaultwarden]
    ports: [8080:8080]
  postgres:
    image: postgres:18-alpine
    container_name: homelab_postgres
    restart: unless-stopped
    env_file: [.env]
    user: "999:999"
    volumes:
      - type: bind
        source: ${HOMELAB_DATA_ROOT_DIR}/vaultwarden/postgres-data
        target: /var/lib/postgresql/data
        bind:
          create_host_path: true
    networks: [vaultwarden]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U vaultwarden -d vaultwarden"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
networks:
  homelab:
    external: true
    name: ${HOMELAB_NETWORK:-homelab}
  vaultwarden:
    driver: bridge
    name: vaultwarden-internal
