[Unit]
Description=Cloudflared Tunnel Service
Documentation=https://developers.cloudflare.com/cloudflare-one/connections/connect-apps
After=docker.service network-online.target
Wants=network-online.target
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/Users/tobias.waslowski/projects/personal/homelab-2/services/cloudflared
EnvironmentFile=/Users/tobias.waslowski/projects/personal/homelab-2/.env
EnvironmentFile=/Users/tobias.waslowski/projects/personal/homelab-2/services/cloudflared/.env
ExecStartPre=/usr/local/bin/docker-compose down
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down
ExecReload=/usr/local/bin/docker-compose restart
TimeoutStartSec=300
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target

